div
{
    font-size: 20px;
    color: blue;
}

table
{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
    color:black;
    
}

tr{
    border: 1px solid black;
    text-align: center;
    color: black;
}